@import "styles/variables.less";
@import "styles/mixins.less";

.page {
  padding-top: @nav-height;
}

.header {
  .container();
  position: relative;
  isolation: isolate;
  padding-top: @space-16;
  padding-bottom: @space-10;

  @media (min-width: @bp-lg) {
    padding-top: @space-20;
    padding-bottom: @space-12;
  }
}

.content {
  .container();
}

.prose {
  .header,
  .content {
    max-width: calc(@container-prose + 2 * @space-8);
  }
}
